#page-home {  
  height: 110vh; /*Alterado pois o tamanho padrão estava atigindo outros elementos*/
  background: url(/nlw_1/assets/home-background.svg)no-repeat;
  background-position: 35vw bottom;
}

#page-home .content {
  height: 100%;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#page-home header {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-home header a {
  display: flex;
  color: var(--title-color);
  font-weight: 700;
}

#page-home header a span {
  margin-right: 16px;
  display: flex;
  background-image: url(/nlw_1/assets/log-in.svg);
  width: 20px;
  height: 20px;
}

#page-home main {
  max-width: 560px;
	display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

#page-home main h1 {
  font-size: 54px;
}

#page-home main p {
  font-size: 24px;
  line-height: 38px;
  margin-top: 24px;
}

#page-home main a {
  margin-top: 40px;
  width: 100%;
  max-width: 360px;
  height: 72px;
  background-color: var(--primary-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: 400ms; /*Qualquer transição receberão esse tempo*/
}

#page-home main a:hover {
  background-color: var(--primaryHover-color);
}

#page-home main a span {
  width: 72px;
  height: 72px;
  background-color: rgba(0,0,0,0.08);
  display: flex;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  align-items: center;
  justify-content: center;
}

#page-home main a span::after {
  content: "";
  background-image: url(/nlw_1/assets/search.svg);
  width: 20px;
  height: 20px;
}

#page-home main a strong {
	color: white;
	flex: 1;
	text-align: center;
}